@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.1s linear;
}

::-webkit-scrollbar {
  background: white;
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(251 146 60);
}
